
ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li a {
    display: block;
}

.title {
    margin: 0;
    color: rgb(var(--accent));
    line-height: 1;
    font-size: 0.9em;
}

ul li * {
    text-decoration: none;
    transition: 0.2s ease;
}

ul li {
    width: calc(32% - 0.5rem);
}

ul li a:hover h4,
ul li a:hover .date {
    color: rgb(var(--accent));
}

ul a:hover img {
    box-shadow: var(--box-shadow);
}

@media (max-width: 720px) {
    ul {
        gap: 0.5em;
    }
    ul li {
        width: 100%;
        text-align: center;
    }
}
